@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(39 39 42);
  color: white;
}

.userCorrectAnswer {
  color: rgb(22 163 74);
  font-weight: 600;
}

.incorrect {
  color: rgb(255 50 50);
  font-weight: 600;
  text-decoration: line-through;
}

.correct {
  color: aqua;
  font-weight: 600;
}

.react-tabs__tab--selected::after {
  display: none;
}

.paginationContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.paginationContainer a {
  padding: 3px 5px;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid;
}

.paginationContainer a:hover {
  background-color: white;
  color: black;
}

.paginationActive a {
  background-color: white;
  color: black;
}
