@tailwind base;
@tailwind components;
@tailwind utilities;

body, select, input[type="number"] {
  background-color: #222;
  color: white;
}

.inputAnswer {
  transition: 0.2s;
}

.inputAnswer:checked {
  margin-left: 15px;
}

